html {
    font-family: sans-serif;
}

.text-primary {
    color: rgb(200 200 250);
}

.centered {
    text-align: center;
}

#tempo-control {
    width: 500px;
    margin: 18px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 50px auto;
}

body {
    background-image: linear-gradient(45deg, rgb(90 150 200 / 100%), rgb(120 180 180 / 100%));
    min-height: 100vh;
}

#frame {
    width: 700px;
    height: 250px;
    border: 3px solid rgb(90 160 180 / 70%);
    border-radius: 18px;
    margin: 0 auto;
    font-family: monospace;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ceryt {
    margin: auto;
    text-align: center;
    line-height: 250px;
    font-size: 90px;
    font-weight: 900;
}

input {
    display: block;
    text-align: center;
    font-size: 25px;
    color: azure;
    margin: 10px auto;
    background-color: rgb(90 160 180 / 70%);
    border-radius: 9px;
    border: 1px;
    box-shadow: 1px 1px 9px inset,
                -1px -1px 7px darkslategrey inset;
    transition: all .1s ease-in-out;
}

input:active {
    box-shadow: 2px 2px 9px darkslategrey inset,
                -2px -2px 9px inset;
}

#btn-toggle {
    width: 120px;
    height: 30px;
    font-size: 16px;
}

#btn-generar {
    width: 120px;
    height: 45px;
}

#btn-tap {
    width: 120px;
    height: 100px;
}

