html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.text-primary {
    color: rgb(200 200 250);
}

.centered {
    text-align: center;
}

#tempo-control {
    width: 300px;
    margin: 18px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

h1 {
    margin: 50px auto;
}

body {
    background-image: linear-gradient(45deg, rgb(90 150 200 / 100%), rgb(120 180 180 / 100%));
    min-height: 100vh;
}

#frame {
    width: 300px;
    height: 150px;
    border: 3px solid rgb(90 160 180 / 70%);
    border-radius: 18px;
    margin: 0 auto;
    font-family: monospace;
    display: flex;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ceryt {
    margin: auto;
    text-align: center;
    line-height: 150px;
    font-size: 45px;
    font-weight: 900;
    display: inline;
    transition: all .1s linear;
}

input {
    display: block;
    text-align: center;
    font-size: 25px;
    color: azure;
    margin: 10px auto;
    background-color: rgb(90 160 180 / 70%);
    border-radius: 9px;
    border: 1px;
    box-shadow: 1px 1px 9px inset,
                -1px -1px 7px darkslategrey inset;
    transition: all .1s ease-in-out;
}

input:active {
    box-shadow: 2px 2px 9px darkslategrey inset,
                -2px -2px 9px inset;
}

#btn-toggle {
    width: 120px;
    height: 30px;
    font-size: 16px;
}

#btn-generar {
    width: 120px;
    height: 45px;
}

#btn-play {
    width: 120px;
    height: 45px;
    font-size: 16px;
}

#btn-tap {
    width: 120px;
    height: 100px;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgb(9 9 9 / 50%);
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-msg {
    width: 300px;
    height: 200px;
    background-color: rgb(160 180 200 / 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}

@media only screen and (min-width: 768px) {

    #frame { 
        width: 700px;
        height: 250px;
    }

    #tempo-control {
        width: 500px;
    }    

    .ceryt {
        line-height: 250px;
        font-size: 90px;
    }
    
}