html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;
}

body {
    background-image: linear-gradient(45deg, rgb(90 150 200 / 100%), rgb(120 180 180 / 100%), crimson);
    height: 100vh;
    user-select: none;
}

h1 {
    margin: 50px auto;
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    font-size: 25px;
    color: azure;
    margin: 18px auto;
    background-color: rgb(90 160 180 / 70%);
    border-radius: 9px;
    border: 1px;
    box-shadow: 1px 1px 9px inset,
                -1px -1px 7px darkslategrey inset;
    transition: all .1s ease-in-out;
}

input:active {
    box-shadow: 2px 2px 9px darkslategrey inset,
                -2px -2px 9px inset;
}

.text-primary {
    color: rgb(250 250 250);
}

.centered {
    text-align: center;
}

.shining {
    filter: drop-shadow(0 0 1px black);
    animation: shine 3s linear infinite;
    animation: glit 4.5s ease-in-out infinite;
}

@keyframes shine {
    0% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(-3px -3px 3px azure);
    }
    25% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(3px -3px 7px azure);
    }
    50% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(3px 3px 5px azure);
    }
    75% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(-3px 3px 7px azure);
    }
    100% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(-3px -3px 3px azure);
    }
}

@keyframes glit {
    0% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(3px -3px 5px ghostwhite);
    }
    25% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(3px 3px 9px ghostwhite);
    }
    50% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(-3px 3px 7px ghostwhite);
    }
    75% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(-3px -3px 9px ghostwhite);
    }
    100% {
        filter: drop-shadow(0 0 1px black)
                drop-shadow(3px -3px 5px ghostwhite);
    }
}

#tempo-control {
    width: 300px;
    margin: 18px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

#logo {
    display: inline;
    margin-left: 20px;
}

#iso {
    width: 50px;
    transform: translateY(14px);
}

.score {
    display: inline;
    position: absolute;
    right: 30px;
    top: 10px;
}

#frame {
    width: 300px;
    height: 150px;
    border: 3px solid rgb(250 250 250);
    border-radius: 18px;
    margin: 20px auto;
    font-family: monospace;
    display: flex;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 12px 7px rgb(200 200 200 / 50%);
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ceryt {
    margin: auto;
    text-align: center;
    line-height: 150px;
    font-size: 45px;
    font-weight: 900;
    display: inline;
    transition: all .1s linear;
}

#btn-toggle {
    width: 150px;
    height: 45px;
    font-size: 16px;
}

#btn-generar {
    width: 120px;
    height: 45px;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.continuar {
    transform: scale(1.6);
    box-shadow: 1px 1px 9px inset,
                -1px -1px 7px darkslategrey inset,
                0 0 7px 7px limegreen;
    background-color: rgb(9 250 9 / 25%);
}

#btn-play {
    width: 120px;
    height: 45px;
    font-size: 16px;
}

#btn-tap {
    width: 120px;
    height: 100px;
    transition: all .01s ease-in-out;
    touch-action: manipulation;
}

#level-sign {
    transition: all .9s ease-in-out;
    opacity: 0;
    font-size: 20px;
}

.modal {
    width: 100vw;
    height: 105vh;
    background-color: rgb(9 9 9 / 70%);
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-msg {
    width: 300px;
    height: 300px;
    background-color: rgb(160 180 200 / 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 9px;
}

#modal-img {
    width: 160px;
    animation: jump 3s linear infinite;
}

@keyframes jump {
    0% {transform: translateY(0) scale(1);}
    70% {transform: translateY(-7px) scale(1.1);}
    100% {transform: translateY(0) scale(1);}
}

#win-bkg {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,
        turquoise, orchid, 
        tomato, indianred,
        goldenrod, crimson
    );
    animation: movingBkg 60s linear infinite;
    transition: all .7s ease-in-out;
    z-index: -1;
}

#win-modal {
    opacity: 0;
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .7s ease-in-out;
    z-index: -1;
}

@keyframes movingBkg {
    0%{transform: translateX(-400vw)}
    50%{transform: translateX(0)}
    100%{transform: translateX(-400vw)}
}

@media only screen and (min-width: 768px) {

    #frame { 
        width: 700px;
        height: 250px;
    }

    #tempo-control {
        width: 500px;
    }    

    .ceryt {
        line-height: 250px;
        font-size: 90px;
    }

    #win-modal {
        font-size: 45px;
        height: 100vh;
    }

    #level-sign {
        transition: all .9s ease-in-out;
        opacity: 0;
        font-size: 45px;
    }
    
}